<form>
    <mat-form-field appearance="outline">
        <mat-label>Search Band</mat-label>
        <input matInput placeholder="Ex The Beatles" [(ngModel)]="searchParameter" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
</form>
<button mat-flat-button color="primary" (click)="search()">Primary</button>

<mat-grid-list cols="5" rowHeight="1:1">
    <mat-grid-tile *ngFor="let album of this.albums">
        <mat-card class="example-card">
            <img mat-card-image src={{album.artworkUrl100}} alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>{{album.collectionName}}</p>
                <p>{{album.artistName}}</p>
                <p>{{album.collectionPrice}}</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>